# idea
.idea
*.iml
*.ipr
*.iws

# eclipse
.project
.settings

# Public
/Public/bower_components
/Public/node_modules
/Public/img/test.*

# data
/data/banner/*
/data/img/*

# app
*/**/*.bak
/Application/Runtime
# /Application/Home/View/Index/test.html
# /Public/js/models/Home/Index/test.js

# doc
~$API.docx
