<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<style type="text/css">
body {
  margin-left: 0px;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
</style>
<link href="__PUBLIC__/admin/css/style.css" rel="stylesheet" type="text/css" />
</head>

<body>
  <div class="top" style="position: fixed; top: 0;z-index: 888;">
      <div class="left pad"><img src="__PUBLIC__/admin/img/logo.png" width="328" height="55" /></div>
  <div class="right">
    <div class="left pad_a7"><img src="__PUBLIC__/admin/img/sx.png" width="1" height="55" /></div>
        <div class="left pad3x2"><img src="__PUBLIC__/admin/img/h.png" width="14" height="14" /></div>
      <div class="left text pad2">帮助</div>
      <div class="left pad_a7"><img src="__PUBLIC__/admin/img/sx.png" width="1" height="55" /></div>
      <div class="left pad3x3"><img src="__PUBLIC__/admin/img/man.png" width="13" height="14" /></div>
        <div class="left text pad2">sam2015@eflypro.com&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
      
      <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>

<div class="menu">
  <br/>
    
<div> 
  <div class="m1 mainMenu">
      <div class="left pad3"><img src="__PUBLIC__/admin/img/m22.png" width="15" height="14" class="mar_img"/></div>
        <div class="left link_2 pad4"><a href="javascript:;" target="content"><strong>代理商管理</strong></a></div>
        <div class="right pad_a5"><img src="__PUBLIC__/admin/img/ar.png" width="7" height="4" /></div>
        <div class="clear"></div>
  </div>
  <div class="subMenu">  
    <div class="high2"></div>
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Agent/baseset.html" target="content">账号开通</a></div>
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Agent/agentmanage.html" target="content">账号管理</a></div>
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Agent/discutmanage.html" target="content">折扣管理</a></div>
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Agent/yuemanage.html" target="content">余额管理</a></div>
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Agent/apimanage.html" target="content">API管理</a></div>
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Agent/apply.html" target="content">开通申请</a></div>
    <div class="line"></div>
  </div>
</div>

<div>    
   <div class="m2 mainMenu">
      <div class="left pad3"><img src="__PUBLIC__/admin/img/m2.png" width="15" height="14" class="mar_img"/></div>
        <div class="left link_2 pad4"><a href="javascript:;" target="content"><strong>模版管理</strong></a></div>
        <div class="right pad_a5"><img src="__PUBLIC__/admin/img/ar.png" width="7" height="4" /></div>
        <div class="clear"></div>
    </div>
    <div class="subMenu"  style="display:none"> 
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Platform/model.html" target="content">模版设置</a></div>
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Platform/goinfo.html" target="content">运营信息</a></div>
        <div class="line"></div>
    </div>
</div> 

<div>    
   <div class="m2 mainMenu">
      <div class="left pad3"><img src="__PUBLIC__/admin/img/m2.png" width="15" height="14" class="mar_img"/></div>
        <div class="left link_2 pad4"><a href="javascript:;" target="content"><strong>业务统计</strong></a></div>
        <div class="right pad_a5"><img src="__PUBLIC__/admin/img/ar.png" width="7" height="4" /></div>
        <div class="clear"></div>
    </div>
    <div class="subMenu"  style="display:none"> 
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Business/business.html" target="content">充值记录</a></div>
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Business/trade.html" target="content">交易明细</a></div>
        <div class="link_2_1 pad_a6"><a href="__APP__/Admin/Business/bill.html" target="content">资费账单</a></div>
        <div class="line"></div>
    </div>
</div>  

<div>    
   <div class="m2 mainMenu">
      <div class="left pad3"><img src="__PUBLIC__/admin/img/m2.png" width="15" height="14" class="mar_img"/></div>
        <div class="left link_2 pad4"><a href="javascript:;" target="content"><strong>资源管理</strong></a></div>
        <div class="right pad_a5"><img src="__PUBLIC__/admin/img/ar.png" width="7" height="4" /></div>
        <div class="clear"></div>
    </div>
    <div class="subMenu"  style="display:none"> 
        <div class="link_2_1 pad_a6"><a href="resouce.html" target="content">云主机</a></div>
        <div class="link_2_1 pad_a6"><a href="save.html" target="content">云存储</a></div>
        <div class="line"></div>
    </div>
</div>  

<div>    
   <div class="m2 mainMenu">
      <div class="left pad3"><img src="__PUBLIC__/admin/img/m2.png" width="15" height="14" class="mar_img"/></div>
        <div class="left link_2 pad4"><a href="javascript:;" target="content"><strong>账号权限</strong></a></div>
        <div class="right pad_a5"><img src="__PUBLIC__/admin/img/ar.png" width="7" height="4" /></div>
        <div class="clear"></div>
    </div>
    <div class="subMenu" style="display:none"> 
        <div class="link_2_1 pad_a6"><a href="right.html" target="content">权限管理</a></div>
        <div class="link_2_1 pad_a6"><a href="accound.html" target="content">账号管理</a></div>
        <div class="line"></div>
    </div>
</div>   

    
    
    
</div>
<div class="content" style="position: absolute;overflow-y: hidden; top: 55px;z-index: 5; bottom: 0; right: 0;left: 10%">
  <iframe src="__APP__/Admin/agent/baseset.html" name="content"  id="iframeID" marginwidth="0"  border="0" scrolling="auto" frameborder="0" width="100%" ></iframe>
</div>
<div class="clear"></div>

<include file="Public/seajs" />
<script type="text/javascript">
    seajs.use("__PUBLIC__/cmd_modules/admin/Index/index.js");
</script>

</body>
</html>
