<!DOCTYPE html>
<html >
  <head>
    <meta charset="UTF-8">
    <title>Login Form</title>
	<link href="__PUBLIC__/admin/css/login.css" rel="stylesheet" type="text/css" />
  </head>

  <body>

    <body>
    <div class="logo"><img src="__PUBLIC__/admin/img/le.png" width="471" height="54"></div>
	<div class="login">
		<div class="login-screen">
		  <div class="login-form">
			  <div class="control-group">
				<input type="text" class="login-field" value="" placeholder="账号" id="login-name">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="密码" id="login-pass">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>

				<a class="btn btn-primary btn-large btn-block" href="#">登录</a>
				
		  </div>
		</div>
	</div>
</body>
    
    
    
    
    
  </body>
</html>
