@import "../../../vars";

$searchWrap-height: 40px;

body.padTop-searchHeight{
    padding-top: $searchWrap-height;
}

.searchWrap{
    width: $full-w;
    height: $searchWrap-height;
    line-height: $searchWrap-height;
    background-color: $color-deep-red;
    z-index: 50;
    //position: fixed;
    // top: 0;
    box-shadow: 0 6px 12px rgba(0,0,0,.375);
    padding-left: 24vw;

    @include bg-img('test.JPG');
    background-size: auto 25px;
    background-position: 14vw center;

    @keyframes show {
        0%{display: none;opacity: 0;}
        //10%{opacity: 10;}
        //20%{opacity: 20;}
        //30%{opacity: 30;}
        //40%{opacity: 40;}
        //50%{opacity: 50;}
        //60%{opacity: 60;}
        //70%{opacity: 70;}
        //80%{opacity: 80;}
        //90%{opacity: 90;}
        100%{display: block; opacity: 100;}
    }
    &.fixed{
        position: fixed;
        top: 0;
        left: 0;
        animation: show 1s linear 0ms 1;
    }

    .searchInput{
        // align-items 与 list-item配合使用
        // align-items: center;
        // display: list-item;
    }
}

.banner{
    width: 100%;
    height: 26vh;
    position: relative;

    //横向滚动时
    touch-action: pan-y;

    ul.sliderContentUl{
        width: 100%;
        height: 100%;
        overflow: hidden;
        -webkit-transition: left 600ms ease-out;

        > li{
            width: 100%;
            height: 100%;
            float: left;

            a{
                display: block;
                @include full-h-w();

                img{
                    width: $full-w;
                    //@include full-h-w();
                    //@include bg-cover();
                }
            }
        }
    }

    ul.sliderNav{
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;

        > li{
            width: 2vw;
            height: 2vw;
            border-radius: 50%;
            background-color: #fff;
            float: left;
            font-size: 0;
            line-height: 0;
            text-indent: -9999;
            margin: 0 5px;

            &.active{
                background-color: $color-blue;
            }
        }
    }
}

.menuWrap{
    width: $full-w;
    height: 25vh;

    div{
        width: $full-w;
        height: 50%;
        box-sizing: border-box;

        display: -webkit-box;
        // 子元素排列方式
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        // 子元素横向排列方式
        -webkit-box-align: center;
        // 子元素排列顺序：倒序排列（reverse），还有正常（normal，默认顺序）
        -webkit-box-direction: normal;

        > h1{
            width: 33.33333333333333333333%;
            height: 100%;

            display: -webkit-box;
            box-sizing: border-box;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;

            display: flex;
            //多个子元素垂直剧中
            flex-direction: column;
            //垂直
            align-items: center;
            //水平
            justify-content: center;

            &:not(:last-child){
                border-right: 1px solid $color-border;
            }
        }

        &:last-child{
            border-top: 1px solid $color-border;
        }
    }
}

.imgListWrap{
    width: 100%;

    ul{
        width: 100%;

        > li{
            width: 100%;
            height: 25vh;

            a{
                display: block;
                @include full-h-w();

                img, div{
                    @include full-h-w();
                    @include bg-cover();
                }
            }

            &:not(:last-child){
                margin-bottom: 2px;
            }
        }
    }
}

.loadingWrap{
    width: 100%;

}
