<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="zh-CN">
    <head>
        <title>首页图片列表</title>
        <include file="Public/header" />
    </head>

    <body>
        <!-- search -->
        <section class="searchWrap">

        </section>

        <!-- banner -->
        <section class="banner" id="slider">
			<ul class="sliderContentUl sliderContent" >
                <li><a href="javascript:;"><img src="__ROOT__/data/banner/1.jpg" alt=""/></a></li>
                <li style="display: none;"><a href="javascript:;"><img src="__ROOT__/data/banner/2.jpg" alt=""/></a></li>
                <li style="display:none;"><a href="javascript:;"><img src="__ROOT__/data/banner/3.jpg" alt=""/></a></li>
            </ul>
            <ul class="sliderNav" id="pageNav">
                <li class="active">1</li>
                <li>2</li>
                <li>3</li>
            </ul>
        </section>

        <!-- menu -->
        <section class="menuWrap">
            <div>
                <h1><a href="javascript:;" class="test">烧鸭</a></h1>
                <h1><a href="javascript:;">盐焗鸡</a></h1>
                <h1><a href="javascript:;">盐焗鸡翅</a></h1>
            </div>
            <div>
                <h1><a href="javascript:;">盐焗鸡腿</a></h1>
                <h1><a href="javascript:;">凤爪</a></h1>
                <h1><a href="javascript:;">梅州肉丸</a></h1>
            </div>
        </section>

        <!-- img list -->
        <section class="imgListWrap">
            <ul>
                <li><a href="javascript:;"><div style="background-image: url(__ROOT__/data/img/1.jpg)"></div></a></li>
                <li><a href="javascript:;"><div style="background-image: url(__ROOT__/data/img/2.jpg)"></div></a></li>
                <li><a href="javascript:;"><div style="background-image: url(__ROOT__/data/img/3.jpg)"></div></a></li>
                <li><a href="javascript:;"><div style="background-image: url(__ROOT__/data/img/4.jpg)"></div></a></li>
                <li><a href="javascript:;"><div style="background-image: url(__ROOT__/data/img/5.jpg)"></div></a></li>
                <li><a href="javascript:;"><div style="background-image: url(__ROOT__/data/img/6.jpg)"></div></a></li>
                <li><a href="javascript:;"><div style="background-image: url(__ROOT__/data/img/7.jpg)"></div></a></li>
                <li><a href="javascript:;"><div style="background-image: url(__ROOT__/data/img/8.jpg)"></div></a></li>
            </ul>
        </section>

        <!-- loading -->
        <section class="loadingWrap">

        </section>

        <include file="Public/app" />
    </body>
</html>